.footer {
    padding: 40px 15px;
    background: #222;
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
}
.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.footer_social li:hover a {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.6);
}
.footer_social li a {
    width: 36px;
    transition: all .3s ease;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.2);
}
.footer_social li {
    display: inline-block;
    margin: 7px;
}
.footer_social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}