* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 3;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}
.menu_link:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 30px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  max-width: 100%;
  display: block;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
}
.subheader_call {
  text-align: right;
  margin-top: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}
.subheader_phone {
  margin-top: 8px;
  text-align: right;
  display: block;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 12px;
}
.subheader_phone:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
}

.hamburger {
  display: none;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }

  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 10px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 21px;
  }
}
@media (max-width: 768px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    margin: 10px 0;
    padding-right: 0;
    border: 0;
  }
  .menu_link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
    transform: translateY(-50%);
    width: 20px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: 0.5s all;
    border-radius: 1px;
    margin-bottom: 2px;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }

  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader_btn {
    width: 200px;
    height: 40px;
    display: block;
    margin: 10px auto 0;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin: 0;
    transform: translate(0, 100%);
  }
}
@media (max-width: 575px) {
  .subheader {
    margin-top: 30px;
    height: 60px;
  }
  .subheader_phone {
    margin-top: 11px;
    font-size: 12px;
  }
  .subheader_btn {
    margin-top: 6px;
    width: 110px;
    height: 22px;
    font-size: 10px;
  }
  .subheader_logo {
    transform: translate(0, 60%);
  }

  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_item a {
    font-size: 10px;
  }
  .menu_link {
    display: block;
  }

  nav {
    height: 30px;
  }

  .hamburger {
    top: 15px;
  }
}
.promo {
  padding: 150px 0 135px 0;
  min-height: 800px;
  background: url("../img/header/header-bg.png") center center/cover no-repeat;
}
.promo_title {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin-top: 50px;
  text-align: center;
}
.promo_subtitle {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 22px 0 0;
  text-align: center;
}
.promo_descr {
  margin-top: 23px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .promo_title {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .promo_title {
    font-size: 40px;
  }
  .promo_subtitle {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
  }
  .promo_descr {
    display: none;
  }
  .promo_title {
    padding: 0 24px;
    margin-top: 70px;
    font-size: 30px;
    line-height: 30px;
  }
  .promo_subtitle {
    font-size: 20px;
    font-weight: 400;
  }
  .promo_btn {
    margin-top: 72px;
    width: 210px;
    height: 50px;
    font-size: 16px;
  }
  .promo_btn:hover {
    background-image: linear-gradient(to top);
  }
}
.reason {
  min-height: 800px;
  padding: 71px 0 65px 0;
}
.reason_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.reason_round {
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reason_descr {
  margin-left: 26px;
  width: 343px;
}
.reason_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.reason_text {
  text-align: justify;
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

@media (max-width: 1200px) {
  .reason_block {
    align-items: flex-start;
  }
  .reason_descr {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .reason_block {
    flex-direction: column;
    align-items: center;
  }
  .reason_descr {
    margin-left: 0;
    margin-top: 15px;
  }
}
@media (max-width: 575px) {
  .reason {
    padding: 22px 0 36px 0;
  }
  .reason_block {
    margin-top: 26px;
  }
  .reason_round {
    width: 100px;
    height: 100px;
  }
}
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/phone/phone_bg.png");
}
.mobile .row {
  margin-top: 32px;
}
.mobile_subtitle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding-top: 92px;
}
.mobile_item-subtitle {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.mobile_item_1 {
  background: url("../img/app/app-1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/app/app-2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/app/app-3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/app/app-4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/app/app-5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/app/app-6.png") center center/cover no-repeat;
}
.mobile_item-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
  margin: 0 auto;
  cursor: pointer;
}
.mobile_item-plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.5ms;
}
.mobile_item-plus:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  transition: 0.5ms;
}
.mobile_item-plus:hover:before {
  width: 16px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.68);
}
.mobile_item-plus:hover:after {
  width: 2px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.68);
}
.mobile_item-plus:active:after {
  display: none;
}
.mobile_item-plus img {
  width: 60%;
}

@media (max-width: 1200px) {
  .mobile_item {
    width: 300px;
  }
}
@media (max-width: 992px) {
  .mobile_item {
    width: 100%;
    height: 200px;
  }
  .mobile_item-subtitle {
    font-size: 12px;
  }
  .mobile_item-plus {
    bottom: 15px;
  }
}
@media (max-width: 767px) {
  .mobile_item {
    width: 400px;
    height: 300px;
  }
  .mobile_item-subtitle {
    font-size: 24px;
  }
  .mobile_item-plus {
    bottom: 35px;
  }
}
@media (max-width: 575px) {
  .mobile_item {
    width: 290px;
    height: 254px;
  }
  .mobile_item-subtitle {
    font-size: 18px;
  }
}
.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/phone/phone_bg.png");
  z-index: -2;
}
.choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}
.choice_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: -1;
}

@media (max-width: 992px) {
  .choice {
    min-height: 800px;
  }
  .choice_img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .choice {
    min-height: 600px;
    padding: 40px 0;
  }
}
@media (max-width: 576px) {
  .choice {
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #000;
  }
  .choice .section_title {
    display: none;
  }
  .choice .section_subtitle {
    display: none;
  }
  .choice_img {
    margin-top: 35px;
  }
  .choice_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  .choice .black {
    display: none;
  }
}
.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0px;
}
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}
.require_title_red {
  color: #ff5656;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  margin-bottom: 10px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/done.png") center center/cover no-repeat;
}
.require_list_red li:before {
  background: url("../icons/done-red.png") center center/cover no-repeat;
}
.require_descr {
  font-size: 17px;
  color: #1ca8c3;
  font-weight: 300;
}

@media (max-width: 767px) {
  .require {
    padding: 40px 0;
  }
}
@media (max-width: 576px) {
  .require {
    padding: 25px;
  }
  .require_block {
    margin: 30px 0 0 0;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list {
    padding-left: 30px;
    margin-top: 5px;
  }
  .require_list li {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  .require_descr {
    font-size: 14px;
    margin-top: 15px;
  }
}
.map {
  min-height: 717px;
  position: relative;
  padding: 49px 0;
  background: url("../img/map/map-bg.png") center center/cover no-repeat;
}
.map_link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: 49px;
  color: #1fbad6;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
}
.map_link:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 992px) {
  .map {
    min-height: 650px;
  }
}
@media (max-width: 768px) {
  .map {
    min-height: 450px;
  }
}
@media (max-width: 575px) {
  .map {
    min-height: 360px;
    padding: 25px 0 30px 0;
  }
  .map_link {
    width: 200px;
    display: block;
    bottom: 30px;
    line-height: 15px;
  }
}
footer {
  padding: 14px 23px 39px 23px;
}
footer a:hover {
  text-decoration: none;
}

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}
.footer_wrapper > div {
  width: 33%;
}
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}
.footer_social_item i {
  color: #fff;
}
.footer_links {
  width: 390px;
  margin: 0 auto;
}
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_links_lang {
  display: block;
  text-align: center;
  margin-top: 36px;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .footer_wrapper > div {
    width: 50%;
  }
  .footer_wrapper > div:nth-child(1) {
    width: 25%;
  }
  .footer_wrapper > div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  .footer_mobile {
    display: flex;
  }
  .footer_mobile a {
    margin: 0 3px;
  }
  .footer_mobile a img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .footer_wrapper {
    flex-wrap: wrap;
  }
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  footer {
    padding: 25px 0 20px 0;
  }

  .footer_divider {
    width: 253px;
    margin: 0 auto;
  }
  .footer_wrapper {
    padding-top: 22px;
  }
  .footer_wrapper > div {
    margin-bottom: 20px;
  }
  .footer_wrapper > div:nth-child(1) {
    order: 2;
  }
  .footer_wrapper > div:nth-child(2) {
    order: 1;
  }
  .footer_wrapper > div:nth-child(3) {
    order: 3;
  }
  .footer_links {
    width: 290px;
  }
  .footer_links_main {
    padding: 0;
    font-size: 14px;
  }
  .footer_links_sub {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_links_sub a {
    margin: 0 7px;
  }
  .footer_links_lang {
    margin-top: 10px;
  }
}
.section_label {
  position: relative;
  margin: 0 auto 38px auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.section_label_white {
  background-color: #fff;
  color: #000;
}
.section_title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.section_title_white {
  color: #ffffff;
}
.section_subtitle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.section_subtitle_white {
  color: #ffffff;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

@media (max-width: 575px) {
  .section_label {
    margin: 0 auto;
  }

  .section_title {
    font-size: 15px;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
